__pycache__/
.pytest_cache/
.venv/
env/
venv/
.DS_Store
*.pyc
*.pyo
*.pyd
*.sqlite3
*
!README.md
!README_fa.md
!CF优选反代IP(电脑版).zip
!CDN优选域名V23.8.18(电脑win64).exe
!location.json
!_worker.js
!docs/
!app/**
!gradle/**
!gradle.properties
!gradlew
!gradlew.bat
!settings.gradle
!build.gradle
!app-debug.apk